=============================================================================================================================================================================

Welcome to {{ inventory_hostname }}

IP address of {{ansible_host}} is {{  ansible_facts['default_ipv4']['address'] }} and hostname is {{ ansible_facts['hostname'] }}

==============================================================================================================================================================================
